.lodging {
    display: flex;
    justify-content: space-between;

    @media (max-width:820px) {
        flex-direction: column;

    }

    .lodging-location{
        width: 69%;
        @media (max-width:820px) {
            width: 100%;
    
        }
    
    }

    h1 {
        font-weight: 500;
        size: 36px;
        line-height: 51.34px;
        color: $colour-primary;
        font-size: 36px;
        transition-duration: 1s;

        @media (max-width: 820px) {
            font-size: 18px;
            line-height: 25.67px;
            transition-duration: 1s;
        }
    }

    h2 {
        font-weight: 500;
        font-size: 18px;
        color: $colour-primary;
        margin-top: -25px;
        transition-duration: 1s;

        @media (max-width: 820px) {
            margin-bottom: 10px;
            font-size: 14px;
            margin-top: -8px;
            line-height: 19.96px;
            transition-duration: 1s;
        }
    }
}



.lodging-tags {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    @media (max-width: 820px) {
        margin-top: -5px;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-right: 30px;
        margin-top: 5px;
        width: 120px;
        height: 35px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 500;
        color: $colour-tertiary;
        background-color: $colour-primary;

        @media (max-width: 820px) {
            font-size: 10px;
            width: 84px;
            height: 25px;
            margin-right: 10px;
            border-radius: 5px;
            transition-duration: 1s;
        }
    }
}


.account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .account-host{
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .account-star-bloc{
        display: flex;
        justify-content: space-between;
    }
    .account-star{
        margin-left: 30px;
        @media (max-width: 820px){
            margin-left: 0;
            margin-top: -30px;
        }
    }
    @media (max-width: 820px) {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 50% 50%;
        align-items: center;


        .account-host {
            grid-column: 2/2;
            justify-self: end;
            margin-top: 0;
        }

        .account-star {
            grid-column: 1/1;
            grid-row: 1/1;
        }
    }
}

.account-host-name {
    font-family: 'Montserrat';
    text-align: right;
    line-height: 25.67px;
    width: 80px;
    margin-right: 10px;
    font-weight: 500;
    font-size: 18px;
    color: $colour-primary;

    @media (max-width: 820px) {
        line-height: 5px;
        width: 50px;
        font-size: 12px;
        line-height: 17.11px;
    }
}

.account-host-img {
    height: 64px;
    width: 64px;
    border-radius: 32px;

    @media (max-width: 820px) {
        height: 32px;
        width: 32px;
    }
}

.account-host-star {
    height: 30px;
    width: 30px;
    margin-bottom: 22px;
    margin-left: 5px;

    @media (max-width: 820px) {
        height: 15px;
        width: 15px;
    }
}


.lodging-description-bloc {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    @media (max-width: 800px) {
        min-height: 50vh;
    }

    div {
        width: 46%;
        @media (max-width: 600px) {
            width: 100%;
        }
    }

    button {
        @include drop-down;
        @media (max-width: 600px) {
            margin-top: 18px;
        }

        +div {
            @include drop-down-description;

        }
    }
    @media (max-width: 600px) {
        flex-direction: column;
        justify-content: flex-start;
    }
}