footer {
    display: flex;
    background: black;
    justify-content: center;
    margin-top: 100px;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 66px;
        height: 39.44px;
        width: 122px;
    }

    h3 {
        font-size: 24px;
        color: $colour-tertiary;

        @media (max-width: 800px) {
            font-size: 12px;
        }
    }
}